:root {
    --page-background: white;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: var(--page-background);
    padding: 10px;
}

@media (min-width: 750px) {
    main {
        display: grid;
        grid-template-columns: 35% 60%;
        grid-gap: 5%;
    }
}

.max-width {
    width: 100%;
}

.clear-fix {
    clear: both;
}

/*
    region: input panel
*/

.input {
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
    margin: 8px 0 0 0;
    padding: 3px;
}

.button {
    padding: 6px;
}

textarea {
    resize: none;
}

#export-button {
    float: right;
    min-width: 30%;
}

/*
    region: card display
*/

#greeting-card {
    text-align: center;
    aspect-ratio: 4 / 3;
}

#card-image {
    width: 60%;
}

#top-text {
    font-size: 3em;
    margin: 10px 0;
}

#bottom-text {
    font-size: 2em;
}

.default-theme {
    font-family: cursive;
    background-color: cornsilk;
}
