@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Cinzel:wght@400;700&family=Jura:wght@400;700&family=Open+Sans:wght@400;700&display=swap');/*
/*
    font-family: 'Caveat', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Jura', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/
:root {
    --page-background: white;
    --page-font-family: 'Helvetica', 'Arial', sans-serif;
    --card-handwriting-font-family: 'Caveat', cursive;
    --card-sanserif-font-family: 'Open Sans', sans-serif;
    --card-serif-font-family: 'Cinzel', serif;
    --card-jura-font-family: 'Jura', sans-serif;
}

body {
    font-family: var(--page-font-family);
    background-color: var(--page-background);
    padding: 10px;
}

.max-width {
    width: 100%;
}

.clear-fix {
    clear: both;
}

/*
    region: input panel
*/

.input {
    font-family: var(--page-font-family);
    box-sizing: border-box;
    margin: 8px 0 0 0;
    padding: 3px;
}

button {
    padding: 6px;
}

textarea {
    resize: none;
}

#export-button {
    float: right;
    min-width: 30%;
}

/*
    region: card display
*/

#greeting-card {
    display: grid;
    grid-template-rows: 25% 50% 25%;
    aspect-ratio: 4 / 5;
    margin: 20px;
}

#greeting-card > * {
    align-self: center;
    justify-self: center;
}

#card-image {
    width: 70%;
}

#top-text {
    font-size: 2.2em;
    font-weight: bold;
    margin: 5px 0;
}

#bottom-text {
    font-size: 1.2em;
    margin: auto 0;
}

.placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.placeholder::before {
    content: "<";
}

.placeholder::after {
    content: ">";
}

.simple-theme {
    font-family: var(--card-sanserif-font-family);
    background-color: cornsilk;
}

.sunny-theme {
    font-family: var(--card-handwriting-font-family);
    background-color: rgb(156, 197, 209);
}

.sunny-theme > img {
    filter: drop-shadow(0 0 3rem rgb(206, 209, 38));
}

.classic-theme {
    font-family: var(--card-serif-font-family);
    background-color: cornsilk;
}

.classic-theme > #top-text {
    text-decoration: underline;
}

.fun-theme {
    font-family: var(--card-handwriting-font-family);
    background-color: rgb(191, 247, 136);
}

.fun-theme > #top-text::first-letter {
    font-size: 1.6em;
    margin: 2px;
}

@media (min-width: 750px) {
    main {
        display: grid;
        grid-template-columns: 35% 60%;
        grid-gap: 5%;
    }

    #greeting-card {
        margin-top: 0;
    }
}
